{% extends 'base.html' %}
{% block title %}Backoffice{% endblock %}

{% block body %}
    <h1>{{ function.name }}</h1>
    <div class="container border">{{ function }}</div>
    <form action="{{ url_for('run_function') }}" method="POST">
        <input type="number" value="{{ function.id }}" name="script_index" readonly><br>
        {% if function.params %}
            {% for param, param_type in function.params.items() %}
               {% if param_type == "str" %}
                <input type="text" name="{{ param }}" placeholder="{{ param }}"><br>
               {% elif param_type | lower == "list" %}
                <textarea name="{{ param }}" rows="4" cols="50"></textarea><br>
                {% elif "Literal" in param_type %}
                    <label for="{{ param }}">Select an {{ param }}:</label><br>
                    <select id="{{ param }}" name="{{ param }}">
                        {% for literal in param_type[1:] %}
                            <option value="{{ literal }}">{{ literal }}</option>
                        {% endfor %}
                    </select><br>
                {% elif param_type in ["int", "float"] %}
                <input type="number" name="{{ param }}" placeholder="{{ param }}"><br>
               {% endif %}
            {% endfor %}
        {% endif %}
        <input type="submit" name="submit" id="submit">
    </form>
{% endblock %}